body{
    font-family:'Poppins', sans-serif;
    color: var(--primary-text-color);
    background-image: url(Truck_img.jpg);
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;

 }
 .company-logo img{
    width: 60px;
    height: auto;
    
    
 }

 .container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
   
 }
nav{
    background-color: #a5b1be;
    box-shadow: 0 0 20px black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    max-height: 100px;

 }

 li{
    list-style: none;
 }

 .main-nav{
    justify-content: space-between;
    padding-block: 1px;
 }
 
.nav-link ul{
gap: 30px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--seconadry-text-color);
}

.hover-link:active{
    color: red;
}

.nav-item.active{
  color: var(--accent-color);
}
.nav-item a{
    text-decoration : none;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    opacity: 70%;
}
.search-bar{
    gap: 8px;
    height: 32px;
}
.head1{
    padding: 0;
    font-size: 4vw;
    /* benifit in using vw is that the font will automatically change it's size according to size of the screen */
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    opacity: .6;
    margin-left: 1050px;
    margin-top: 300px;
    /* margin left shifts the the content to the right leaving a space behind the left and that space value is given to the margin left  */
}
.head2{
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    opacity: .6;
    margin-left: 1070px;
    margin-top: 0px;
   
}

.head5{
    margin-left: 1220px;
    text-transform: uppercase;
    font-size: 1vw; 
    opacity: .6;
}

.search-bar{
    gap: 8px;
    height: 25px;
}

.news-input{
    height: 100%;
    width: 200px;
    padding-inline: 12px;   
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.search-button{
    background-color: #232b35;
    color: rgb(255, 255, 255);
    padding: 3px ;
    font-size: 10px;
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}

.search-button:hover{
    background-color: rgba(39, 36, 36, 0.579);
}
.search-button:active{
    background-color: red;
}
